src
docs/
build/docs
*.log

jest.*.js
**/*.spec.*
_test_utils.*
_testMocks.*
coverage/
build/*/integration_tests/**

tsconfig*.json
tslint.json
.prettierignore
.editorconfig
.releaserc.yml

.vscode/
.idea/

.github/
.circleci/
