name: Automerge Dependabot PRs

on:
  pull_request:
    types:
      - opened
      - assigned

jobs:
  dependabot-automerge:
    runs-on: ubuntu-latest
    steps:
      - uses: relaycorp/shared-workflows/.github/workflows/dependabot-automerge.yml@main
